body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
footer {
    text-align: center;
    background: yellow;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
  
  }
  footer:hover {
    background: blue;
    color: white;
    width: 100%;
  }
  

.container {
    display: flex;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.face1 {
    display: flex;
    align-items: center;
    padding: 20px;
    color: blue;
}

.phone-image {
    width: 200px;
    margin-right: 20px;
}

.signup-photo {
    width: 200px;
}

.form-container {
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3897f0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2e8ae0;
}

p {
    font-size: 12px;
    color: #8e8e8e;
    margin-top: 10px;
}